<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">log/dcs-936-downloader.log</Property>
    </Properties>
    <ThresholdFilter level="INFO"/>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d [%p{length=5}] [%t] %c{1.}: %m %ex%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%d [%t] %c{1.}: %m %ex%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>